<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ my_title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='./styles/user.css') }}">
</head>
<body>
  <div class="wrapper">
    {% block navbar %}
    {% include '_navbar.html' %}
    {% endblock %}
    <section class="content">
      <div class="container">
        {% block content %}
        <!-- Flash -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class="flash__wrapper">
            {% for message in messages %}
            <li class="flash__message">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        <!-- ======= -->
          {% block subcontent %}
          {% endblock %}
      {% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">

          <div class="footer__top">
            <ul class="footer__navbar-items">
              <li class="footer__navbar-item">
                <a href="{{ url_for('index') }}" class="footer__navbar-item-link">На Главную</a>
              </li>
              <li class="footer__navbar-item">
                <a href="#" class="footer__navbar-item-link">Написать разработчикам</a>
              </li>
              <li class="footer__navbar-item">
                <a href="{{ url_for('register') }}" class="footer__navbar-item-link">Регистрация</a>
              </li>
              {% if session.user_name %}
              <li class="footer__navbar-item">
                <a class="footer__navbar-item-link" href="{{ url_for('logout') }}">Выйти</a>
              </li>
              {% else %}
              <li class="footer__navbar-item">
                <a class="footer__navbar-item-link" href="{{ url_for('login') }}">Войти</a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="footer__copyright">
            <p class="footer__copyright-text">Built From Scratch By We :)  Copyright © 2023. All rights reserved</p>
          </div>

        </div>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  {% block script %}
  {% endblock %}
</body>
</html>
