<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <section class="section__search">
    <div class="container">
      <form class="section__search-wrapper">
        <div class="section__search-form">
          <input class="section__search-input section__input" type="text" placeholder="Введите данные для поиска" id="section__search-input" name="section__search-input">
          <button class="section__search-button section__button" type="submit">Найти контакт</button>
        </div>
      </form>
    </div>
  </section>
  <div class="wrapper">
    <section class="section">
      <div class="container">
  
        <div class="section__wrapper">
          <div class="section__person-list">
            <a class="section__person-add-button section__button" href="#">Добавить новую запись</a>
            <h3 class="section__person-title">Список контактов</h3>
            <p class="section__person-text">Нажмите на контакт, чтобы просмотреть или редактировать данные</p>
            <ul class="section__person-items">
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
              <li  class="section__person-item">
                <a class="section__person-link" href="#">пупкин вася</a>
              </li>
            </ul>
          </div>
  
          <div class="section__person-data">
            <form class="section__person-form" method="POST">
  
              <div class="section__person-form-wrapper">
                <label class="section__person-form-title" for="city">Номер телефона</label>
                <input class="section__person-form-input section__input" type="text" placeholder="Номер телефона" id="section__person-form-city" name="phone_number" required>
              </div>
    
              <div class="section__person-form-wrapper">
                <label class="section__person-form-title" for="firstName">Имя</label>
                <input class="section__person-form-input section__input" type="text" placeholder="Имя" id="section__person-form-firstName" name="first_name" required>
              </div>
        
              <div class="section__person-form-wrapper">
                <label class="section__person-form-title" for="lastName">Фамилия</label>
                <input class="section__person-form-input section__input" type="text" placeholder="Фамилия" id="section__person-form-lastName" name="last_name" required>
              </div>
              <button class="section__person-form-button section__button" type="submit">Сохранить изменения</button>
              <a class="section__person-delete-button section__button" href="#">Удалить запись</a>
      
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <p class="footer__copyright">Copyright © 2023 Andrei Makarevich. All rights reserved</p>
      </div>
    </footer>
    
  </div>
</body>
</html>