{% extends 'base.html' %}
{% block subcontent %}
<div class="content__inner">
  <h1 class="form__title">Войдите в свой аккаунт</h1>
  <div class="form__inner">
    <form class="form__inner-inputs" method="POST" action="/login/">
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="username">Введите имя пользователя</label>
        <input class="form__wrapper-input" type="text" placeholder="Username" id="username" name="username" required>
      </div>
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="password">Введите пароль</label>
        <input class="form__wrapper-input" type="password" placeholder="Enter Password" id="password" name="password" required>
      </div>
      <div class="form__register-wrapper">
        <button class="form__wrapper-button" type="submit">Войти</button>
        <p class="form__text">У Вас нет аккаунта?</p>
        <a class="form__link" href="{{ url_for('register') }}">Зарегестироваться.</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}