{% extends 'base.html' %}
{% block subcontent %}
<div class="content__inner">
  <h1 class="form__title">Личные данные пользователя</h1>
  <div class="form__inner">
    <form class="form__inner-inputs" method="POST" action="/password/{{session.username}}/">

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="old_password">Введите старый пароль</label>
        <input class="form__wrapper-input" type="password" placeholder="Введите старый пароль" id="old_password" name="old_password" required>
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="new_password">Введите новый пароль</label>
        <input class="form__wrapper-input" type="password" placeholder="Введите новый пароль" id="new_password" name="new_password" required>
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="repeat_password">Повторите ввод нового пароля</label>
        <input class="form__wrapper-input" type="password" placeholder="Повторите ввод нового пароля" id="repeat_password" name="repeat_password" required>
      </div>
      
      <div class="form__register-wrapper"></div>
        <button class="form__wrapper-button" type="submit">Изменить пароль</button>
      </div>
      

    </form>
  </div>
</div>
{% endblock %}