{% extends 'base.html' %}
{% block subcontent %}
<div class="content__inner">
  <h1 class="form__title">Личные данные пользователя</h1>
  <div class="form__inner">
    <form class="form__inner-inputs" method="POST" action="/private/{{session.username}}/">

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="firstName">Введите имя</label>
        <input class="form__wrapper-input" type="text" placeholder="Введите имя" id="firstName" name="firstName" value = "{{ personal_data.firstName }}">
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="lastName">Введите фамилию</label>
        <input class="form__wrapper-input" type="text" placeholder="Введите фамилию" id="lastName" name="lastName"  value = "{{ personal_data.lastName }}">
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="birthDate">Введите дату рождения</label>
        <input class="form__wrapper-input" type="date" placeholder="Введите дату рождения" id="birthDate" name="birthDate" value = "{{ personal_data.birthDate }}">
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="city">Введите город проживания</label>
        <input class="form__wrapper-input" type="text" placeholder="Введите город проживания" id="city" name="city" value = "{{ personal_data.city }}">
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="familyStatus">Ваше семейное положение?</label>
        <input class="form__wrapper-input" type="text" placeholder="Ваше семейное положение?" id="familyStatus" name="familyStatus"  value = "{{ personal_data.familyStatus }}">
      </div>

      <div class="form__wrapper">
        <label class="form__wrapper-title" for="biography">О себе...</label>
        <textarea class="form__wrapper-area" id="biography" name="biography" cols="70" rows="10">{{ personal_data.biography }}</textarea>
      </div>

      <div class="form__register-wrapper"></div>
        <button class="form__wrapper-button" type="submit">Сохранить</button>
      </div>
      

    </form>
  </div>
</div>
{% endblock %}