{% extends 'base.html' %}
{% block subcontent %}
<div class="content__inner">
  <h1 class="form__title">Регистрация нового пользователя</h1>
  <div class="form__inner">
    <form class="form__inner-inputs" method="POST" action="/register/">
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="username">Введите имя пользователя</label>
        <input class="form__wrapper-input" type="text" placeholder="Username" id="username" name="username" required>
      </div>
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="email">Введите email</label>
        <input class="form__wrapper-input" type="email" placeholder="Enter Email" id="mail" name="mail" required>
      </div>
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="password">Введите пароль</label>
        <input class="form__wrapper-input" type="password" placeholder="Enter Password" id="password" name="password" required>
      </div>
      <div class="form__wrapper">
        <label class="form__wrapper-title" for="confirm__password">Подтвердите пароль</label>
        <input class="form__wrapper-input" type="password" placeholder="Confirm Password" id="confirm__password" name="confirm__password" required>
      </div>
      <div class="form__register-wrapper">
        <button class="form__wrapper-button" type="submit">Регистрация</button>
        <p class="form__text">У Вас уже есть аккаунт?</p>
        <a class="form__link" href="{{ url_for('login') }}">Войти.</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}